<h1>data view page</h1>


<ul>
    <% data.forEach(function(datum) { %>
        <% if(datum.includes("static")){ %>
            <li><a href="<%= datum.entry %>">Re-converted PDF file</a></li>
        <% }else{ %>
            <li><%= datum.entry %></li>
    <% }); %>
</ul>
